<p>home works!</p>
<h2>This is from home component</h2>
<button (click)="foo()">Call Foo</button>
<div>
    {{fruits}} <br>
    {{fruits | json}}
</div>

<div *ngFor="let x of fruits">
    {{x}}
</div>

<button (click)="getUsers()">Get Users</button>

{{userRecords}}

<div *ngFor="let user of userRecords">
    Name: {{user.name}} 
    Email: {{user.email}} 
</div>