<table border=1>
	<thead>
	</thead>
	<tbody id="result">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Email</td>
			<td>Avatar</td>
		</tr>
	</tbody>
</table>


<script>
url = "https://reqres.in/api/users";

fetch(url)
.then(response => response.json())
.then(json_data => {
	console.table(json_data['data'])
	var output_str = "";
	for(let i = 0; i < json_data['data'].length; i++) {
		output_str += `<tr>`
		output_str += `<td>${json_data['data'][i]['id']}</td>`
		output_str += `<td>${json_data['data'][i]['first_name']}</td>`
		output_str += `<td>${json_data['data'][i]['email']}</td>`
		output_str += `<td><img src="${json_data['data'][i]['avatar']}"/></td>`
		output_str += `</tr>`;
	}
	
	document.getElementById("result").innerHTML = output_str; 
});

</script>