<input type="text" id="radius" placeholder="Enter radius" autofocus/>

<button onclick="getArea();">Get Area</button>
<button onclick="getCircumference();">Get Circumference</button>

<div id="area-result"></div>
<div id="circumference-result"></div>

<script>

function getArea() {
	radius = document.getElementById("radius").value;

	var a = 3.14 * radius * radius;
	
	document.getElementById("area-result").innerHTML = `Area of circlie is ${a}`;
}

function getCircumference() {

	radius = document.getElementById("radius").value;

	var c = 2 * 3.14 * radius;
	document.getElementById("circumference-result").innerHTML = `Circumference of circlie is ${c}`;

}
</script>