<input type="text" id="num1" placeholder="enter number 1" autofocus/> <br>
<input type="text" id="num2" placeholder="enter number 2"/> <br>
<button onclick="add();">Get Addition</button>

<div id="result">
addition will appear here
</div>

<script>

function add() {
	x = parseInt(document.getElementById("num1").value);
	y = parseInt(document.getElementById("num2").value);
	
	//x = parseInt(x);
	//y = parseInt(y);
	
	console.log(`${x} + ${y} = ${x + y}`);
	document.getElementById("result").innerHTML = `${x} + ${y} = ${x + y}`
}

//WAP to read radius and print area and circumference
//2 buttons GetArea GetCircumference
//function area() 
//function circumference()
//print output in 2 div element


//add();

//<input type="text" id="kuchbhI" placeholder="Enter number one" autofocus/>
//<button onclick="getSqr();">Get Square</button>
/*
function getSqr() {
	x = document.getElementById("kuchbhI").value;

	console.log(`square of ${x} = ${x * x}`);
}

//WAP to read 2 numbers from html form and print addition in console


//<tag attribute="value of attribute"/>
/*

//WAP to pass 2 arguments and print addition
function add(x, y) {
	return x + y;
}

a2 = add(5, 6) + add(7, 8);
console.log(a2);
//a1 = add(5, 8);

//console.log(a1);

//console.log(add(5, 6));

//console.log(11)




















/*
let a1 = add(5, 6);
let a2 = add(5, 7);
let a3 = add(add(5, 6), add(7, 8));
		//add(11, add(7, 8))
		//add(11, 15);
		//26

console.log(a1);
console.log(a2 + 100);
console.log(a3);


//WAP to read number and print square of that number
function getSqr(x) { // function heading
	//function body
	//x = 6;

	console.log(`square of ${x} = ${x * x}`);
}

getSqr(5);
getSqr(6);
getSqr(7);
getSqr(8);
*/
</script>