<h1>
    <p>add works!</p>
</h1>


<form [formGroup]="form" (submit)="addNum()">
    <input type="text" formControlName="num1"/>
    <input type="text" formControlName="num2"/>
    {{ form.value | json }}
    <div>
      Result: {{ formResult }}
    </div>
    <input type="submit" value="Add"/>
</form>