<table border=1>
	<thead>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Avatar</th>
	</thead>
	
	<tbody id="records">
		<tr>
			<td>1</td>
			<td>George Bluth</td>
			<td>george.bluth@reqres.in</td>
			<td>https://reqres.in/img/faces/1-image.jpg</td>
		</tr>
	</tbody>
	
	<tfoot>
	</tfoot>
</table>

<script>

fetch("https://reqres.in/api/users")
.then(response => response.json())
.then(res => {
	
	var users = res.data;
	
	var output_str = "";
	for(let i = 0; i < users.length; i++) {
	
		console.log(users[i]);
	
		output_str = output_str + `<tr>`;
		output_str = output_str + `<td>${users[i]['id']}</td>`;
		output_str = output_str + `<td>${users[i]['first_name']} ${users[i]['last_name']}</td>`;
		output_str = output_str + `<td>${users[i]['email']}</td>`;
		output_str = output_str + `<td><img src="${users[i]['avatar']}" /></td>`;
		output_str = output_str + `</tr>`;
	}
	
	//console.log(output_str);
	
	//document.getElementById("records").innerHTML = "<tr><td>innerHTML</td></tr>";
	document.getElementById("records").innerHTML = output_str;

})

</script>