<input type="text" id="num1" value="10" autofocus />
<button onclick="getSqr();">Get Square</button>
<div id="result">
	this is inner HTML
</div>


<script>
function getSqr() {

	var x = document.getElementById("num1").value;

	//alert(x * x);

	document.getElementById("result").innerHTML = `Square of ${x} is ${x * x}`;

}

//WAP to read radius and print area of circle.
</script>