<input type="text" id="num1" />
<br>
<input type="text" id="num2" />
<br>
<button onclick="callAPI();">GET Sub</button>

<div id="result">
asdf
</div>


<script>
function callAPI() {
	
	var x = document.getElementById("num1").value;
	var y = document.getElementById("num2").value;

	//alert("Hello API" + x + y);
	
	data = { "num1" : x, "num2" : y };
	options = {
		method: "POST",
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
		},
		body: JSON.stringify(data)
	}

	fetch("http://localhost:8989/sub", options)
	.then(response => response.json())
	.then(data => {
	
		console.log(data);
		document.getElementById("result").innerHTML = data['result'];
	
	})
	
	/*
	data = {name: name, age: age, city: city};
	
	fetch(api_url, {
		method: "POST",
		headers: {
		  'Accept': 'application/json',
		  'Content-Type': 'application/json'
		},
		body: JSON.stringify(data)
	})
	*/

}
</script>